div.img {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 100px;
}

div.img:hover {
	border: 1px solid #777;
}

div.img img {
	width: 100%;
	height: auto;
}

div.desc {
	font-family: 'silkscreennormal';
	font-size:50%;
	padding: 5px;
	text-align: center;
}

.fade img{
	width: 400px;
}

.galleryWrapper{
	width: 30%;
	height:70%;
	border-radius:0px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	background:#fff;
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	text-align:right;
	padding:25px;
	padding-bottom:40px;
	position:relative;
	margin-right: 0;
	float:right;
	top:-700px;
	margin-bottom:10px;
}

.galleryWrapper img{
	width: 100%;
	height:100%;
}

body{
	font-family: 'silkscreennormal';
}

#parallaxBackgrounds * {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bgWrapper{
	position:fixed;
	background:url(../assets/parallax-mountain-bg.png) bottom center no-repeat; 
	height:100%; 
	width:100%;
	top:0; 
	left:0;
}
.closemountain{
	position:fixed;
	background:url(../assets/parallax-mountain-mountains.png) bottom center no-repeat;
	width:100%;
	height:100%; 
	left:0;
}
.blackbar{
	position:fixed;
	background:url(../../general_use/assets/blackbar.png) bottom center no-repeat;
	width:100%;
	height:100%;
	visibility: hidden;
}
.farmountain{
	position:fixed;
	background:url(../assets/parallax-mountain-montain-far.png) bottom center repeat-x;
	width:100%;
	height:100%;
}
.mountaintrees{
	position:fixed;
	background:url(../assets/parallax-mountain-trees.png) bottom center no-repeat;
	width:100%;
	height:100%;
	top: 0px;
	left:0;
}
.mountaintreesforeground{
	position:fixed;
	background:url(../assets/parallax-mountain-foreground-trees.png) bottom center no-repeat;
	width:100%;
	height:100%;
	top: 0px;
	left:0;
}


.arrows{
	position: relative;
	float: right;
	margin-bottom:20px;
}

.arrows div{
	margin-top:10px;
	height: 100px;
	width: 100px;
	float:left;
	color:black;
	display: flex;
}

.prev{
	position:relative;
	background: url('../../general_use/assets/prev.png') no-repeat;
	background-size: 25% auto;
}

.next{
	position:relative;
	background: url('../../general_use/assets/next.png') no-repeat;
	background-size: 25% auto;
}
